.sidebar-option {
  &-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &-icon {
    font-size: 20px;
  }

  &-text-wrapper {
    width: 100%;
  }
}